@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap");

$h1-font: "DM Serif Text", serif;
$p-font: "Courier Prime", monospace;

$primary-color: #8117eb;
$hover-color: #7612db;

$background-color: snow;
$font-color: Black;
